<?xml version="1.0" encoding="UTF-8"?>

<!--
  - DAO类配置文件
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
    
    <!-- 这个bean主要是为了得到ApplicationContext 所以它不需要其它属性-->  
	<bean id ="getContext" class="com.user.util.ApplicationContextHelper"></bean> 
    
    <!-- 人员信息维护Handler-->
	<bean id="userHandler"
		parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.user.logic.impl.UserHandlerImpl">
				<property name="userDao" ref="userDao"/>
			</bean>
		</property>
	</bean>
</beans>
